{% extends 'base.html.twig' %}

{% block title %}Compendium{% endblock %}

{% block body %}

<div> 
    <h1>Accueil</h1>
    <p>Bienvenue sur Compendium, le site de partage de connaissances.</p>
</div>

<text> 
    <h2>Les dernières contributions</h2>
    <p>Voici les dernières contributions des utilisateurs :</p>
    <div class="row">
        {% for celestialBody in celestialBodies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if celestialBody.imageUrl %}
                        <img src="{{ asset('uploads/photos/' ~ celestialBody.imageUrl) }}" class="card-img-top" alt="{{ celestialBody.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ celestialBody.name }}</h5>
                        <p class="card-text">
                            Description: {{ celestialBody.description }}<br>
                            Distance de la Terre : {{ celestialBody.distanceFromEarth }} km<br>
                            Température : {{ celestialBody.temperature }} K<br>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</text>

{% endblock %}