{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}

    <h2>{{ celestialBodies.name }}</h2>
    <p>Type: {{ celestialBodyType.name }}</p>
    <p>Masse: {{ celestialBodies.mass }} kg</p>
    <p>Diamètre: {{ celestialBodies.radius }} km</p>
    <p>Distance par rapport à la Terre: {{ celestialBodies.distanceFromEarth }} km</p>
    <p>Température: {{ celestialBodies.temperature }} K</p>
    <p>Description: {{ celestialBodies.description }}</p>
    
{% endblock %}