<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="{{path("app_home")}}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{ asset('Append-New-1.0.0/assets/img/logo.png') }}" alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{path("app_home")}}" class="active">Accueil</a></li>
          <li><a href="{{path("app_home")}}">A propos</a></li>
          <li><a href="{{path("app_celestial")}}">Contribuer</a></li>
          <li><a href="{{path("app_home")}}">Liens externes</a></li>
          <li><a href="{{path("app_home")}}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      {% if app.user %}
        <a class="btn-getstarted" href="{{ path('app_logout') }}">Se déconnecter</a>
      {% else %}
        <a class="btn-getstarted" href="{{ path('app_login') }}">Se connecter</a>
      {% endif %}

    </div>
</header>